pytesseract

## Put everything below into the readme. Have the linux/windows version to

#Using Mac and Homebrew
#(1) Downlaod tesseract:
	#using home-brew on MacOS
		brew install tesseract

#(2) Download tesseract-lang (to use Russian)
	#using home-brew on MacOS
		brew install tesseract-lang
